graft {{cookiecutter.project_name}}/blueprints/*/static
graft {{cookiecutter.project_name}}/blueprints/*/templates
graft {{cookiecutter.project_name}}/uwsgi
graft {{cookiecutter.project_name}}/gunicorn
graft {{cookiecutter.project_name}}/logs