graft {{cookiecutter.project_name}}/blueprints/*/static
graft {{cookiecutter.project_name}}/blueprints/*/templates
graft {{cookiecutter.project_name}}/gunicorn
include {{cookiecutter.project_name}}/Makefile
graft {{cookiecutter.project_name}}/logs